.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 24px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 0px 10px;;
    display: inline-block;
  }
  .navheader{
    display: inline-flex
  }
  .navicons{
      float: right;
      display: inline-flex
  }
  .navicons > .icons{
    padding: 10px 20px;
    color: #818181;
    border: 1px solid;
    margin: 8px;
    border-radius: 100%;
  }
  #nameicon{
      background-color:skyblue;
  }
  .navheader > h1{
      padding-left: 10px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }