.toolkit{
    background-color: #5b1212;
    margin: 10px 0px;
    padding: 7px 0px;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}
.toolchild{
    padding: 0px 5px;
    color: white;
}
.cards{
    margin: 15px;
    border: 1px solid grey;
    box-shadow: 5px 5px whitesmoke;
}
.cardArea{
    display: inline-block;
    width: 100%;
}
.cardDesc{
    width: 50%;
    display: inline-block;
}
.selectedcard{
    background-color: beige;
}
.hidecontent{
    display: none !important;
}
#rulerproject{
    margin-left: 15% !important;
    width: 85%;
}
.toolkit > input{
    border-radius: 10px;
    border: 1px solid black;
    color: black;
}
.imagePart{
    display: inline-block;
    /* width: 12%; */
}
.contentPart{
    display: inline-block;
    margin: 2% 4% 2% 4%;
}
.contentHeader{
    font-weight: bold;
}
.statusbar{
    margin-left: 12%;
}