.field-wrapper{
    position: relative;
    margin-bottom: 15px;
}

.field-wrapper input{
    border: 1px solid #DADCE0;
    padding: 10px 5px 10px 5px;
    border-radius: 4px;
    width: 100%;
}

.field-wrapper .field-placeholder{
    font-size: 16px;
    position: absolute;
    /* background: #fff; */
    bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #80868b;
    left: 4px;
    padding: 0 3px;
    -webkit-transform: scale(.75) translateY(-39px) translateX(-60px);
    transform: scale(.75) translateY(-40px) translateX(-20px);
    z-index: 1;
    color:rgb(151, 32, 32);    
    text-align: left;
    width: 100%;
}        

.field-wrapper .field-placeholder span{
    background: #ffffff;
    padding: 0px 4px;
}

